<template>
  <div class="about ma-7 mt-10">
    <v-layout text-center wrap>
      <v-flex mb-4>
        <h2 class="display-1 font-weight-bold mb-3">About Us</h2>
        <p class="subheading font-weight-regular">
          <a href="https://gitlab.com/controllercubiomes" target="_blank">
            <img
              src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-rgb.png"
              height="64"
            />
          </a>
          &nbsp;&nbsp;&nbsp;
          <a
            href="https://discordapp.com/invite/v8HaATv"
            target="_blank"
          >
            <img src="https://discord.com/assets/fc0b01fe10a0b8c602fb0106d8189d9b.png" height="64" />
          </a>
        </p>
        <br />
        <p class="subheading font-weight-regular">
          <h1>The "God-Tier Seed" Criteria</h1>
          <h2>Within 1,500 Blocks of (0,0)</h2>
          All Major Biomes
          <br />Bamboo Jungle
          <br />Ice Spikes
          <br />Mooshroom
          <br />Flower Forest
          <br />Roofed Forest
          <br />Warm Ocean
          <br />Frozen Ocean
          <br /><br />
          <h2>Within 2,048 Blocks of (0,0)</h2>
          At least 1 Ocean Monument
          <br />2 Witch Huts within 200 blocks of each other
          <br /><br />
        </p>
        <div style="max-width: 1280px; margin: auto">
          <div style="position: relative; padding-top: 56.25%">
            <iframe
              style="position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%"
              src="https://player.twitch.tv/?autoplay=false&t=00h47m20s&video=v608048816"
              frameborder="0"
              allowfullscreen="true"
              scrolling="no"
            ></iframe>
          </div>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>
