<template>
  <div class="advanced">
    <AdvancedTable />
  </div>
</template>

<script>
import AdvancedTable from "@/components/AdvancedTable.vue";

export default {
  components: {
    AdvancedTable
  }
};
</script>
