<template>
      <v-container>
        <v-container fluid d-flex justify-center align-center flex-xs-column>
          <div class="d-flex justify-space-between align-center flex-xs-column">
            <div class="d-flex flex-column">
            <h1 id="downloadTitle"></h1>
            <p id="downloadDesc"></p>
            <v-btn dark min-width="100" max-width="20%" class="ma-auto">Download</v-btn>
            </div>
            <v-img src="https://gamepedia.cursecdn.com/minecraft_gamepedia/6/62/Dirt_JE2_BE1.png" max-height="10%" class="ma-8"></v-img>
          </div>
        </v-container>
        <v-divider></v-divider>
        <v-container fluid d-flex justify-center class="mb-12">
          <div class="d-flex flex-column justify-center text-center">
            <h1 class="ma-4"> Download For Your Other Devices </h1>
            <div class="d-flex justify-space-around">
            <v-card min-width="40%" class="text-center d-inline-block">
              <v-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Windows_logo_-_2012.svg/1024px-Windows_logo_-_2012.svg.png" aspect-ratio="1" max-width="100" contain class="ma-auto mt-4"></v-img>
              <v-card-subtitle class="d-block text-wrap ma-auto">Download For Windows</v-card-subtitle>
              <v-card-actions>
                <v-btn dark class="ma-auto" href="https://gitlab.com/controllercubiomes/client/-/jobs/artifacts/master/raw/client.exe?job=build">Download</v-btn>
              </v-card-actions>
            </v-card>
            <v-card min-width="40%" class="text-center d-inline-block">
              <v-img src="https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_linux-512.png" aspect-ratio="1" max-width="100" contain class="ma-auto mt-4"></v-img>
              <v-card-subtitle class="d-block text-wrap text-center">Download For Linux</v-card-subtitle>
              <v-card-actions>
                <v-btn dark class="ma-auto" href="https://gitlab.com/controllercubiomes/client/-/jobs/artifacts/master/raw/client?job=build">Download</v-btn>
              </v-card-actions>
            </v-card>
            </div>
          </div>
        </v-container>
      </v-container>
    </template>

    <script>
        export default {
            name: "Downloads"
        }
    </script>

    <script scoped></script>