<template>
  <div class="home">
    <v-progress-circular
      v-if="!items"
      style="margin-top: 100px; margin-left: calc(50% - 35px)"
      :size="70"
      :width="7"
      indeterminate
    ></v-progress-circular>

    <div v-if="items">
      <div style="display: flex; padding: 30px 9% 0">
        <v-btn color="primary" v-on:click="openFilter">
          Add Filter
          <v-icon dark right>mdi-filter-plus</v-icon>
        </v-btn>
        <span
          v-if="filters.length"
          style="margin: 7px"
        >[ {{ items.length + itemsNotLoaded.length }} Results ]</span>
        <v-btn color="primary" style="margin-left: auto" v-on:click="shuffle">
          Shuffle
          <v-icon dark right>mdi-shuffle-variant</v-icon>
        </v-btn>
        <div>
          <v-autocomplete
            v-model="sort"
            :items="sortOptions"
            outlined
            dense
            label="Sort"
            style="margin: -2px 0 0 20px; width: 250px;"
          ></v-autocomplete>
        </div>
        <v-btn icon style="margin: 1px" @click="sortAscend = !sortAscend">
          <v-icon>{{ sortAscend ? 'mdi-sort-ascending' : 'mdi-sort-descending' }}</v-icon>
        </v-btn>
      </div>

      <div style="display: flex; padding: 0 9%; flex-wrap: wrap;">
        <div v-for="filter in filters">
          <v-chip
            class="ma-2 ml-0"
            close
            @click="editFilter(filter)"
            @click:close="clearFilter(filter)"
          >{{ filter.propertyName }} {{ filter.operator }} {{ filter.value }}</v-chip>
        </div>
      </div>

      <div class="d-flex flex-wrap justify-center">
        <SeedCard
          style="margin: 15px 20px 15px"
          v-for="item in items"
          :key="item.seed"
          :seedData="item.data"
          :gen_image="gen_image"
        />
      </div>
    </div>

    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Filter</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-autocomplete
                    v-model="filterProperty"
                    :items="properties"
                    label="Property to filter"
                    :rules="[v => !!v || 'Property is required']"
                    required
                  ></v-autocomplete>
                </v-col>

                <template v-if="filterProperty && filterProperty !== 'spawn_biome'">
                  <v-col cols="12" sm="4">
                    <v-autocomplete
                      v-model="filterOperator"
                      :items="operators"
                      label="Operator"
                      required
                    ></v-autocomplete>
                  </v-col>

                  <v-col cols="12" sm="8">
                    <v-text-field
                      v-model="filterValue"
                      label="Value"
                      :rules="[v => !!v || 'Value is required']"
                      required
                    ></v-text-field>
                  </v-col>
                </template>
                <template v-else-if="filterProperty && filterProperty === 'spawn_biome'">
                  <!--<v-col cols="12" sm="4">
                     <v-autocomplete
                      v-model="filterOperator"
                      :items="[{value: 'incl', text: 'can be'}, {value: 'excl', text: 'can not be'}]"
                      label="Operator"
                      required
                    ></v-autocomplete>
                  </v-col>-->

                  <v-col cols="12" sm="12">
                    <v-autocomplete
                      v-model="filterValue"
                      :items="biomeProperties"
                      label="Biomes"
                      required
                    ></v-autocomplete>
                  </v-col>
                </template>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="cancelFilter">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="applyFilter">Apply</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SeedCard from "@/components/SeedCard.vue";
import ImgGen from "@/ImgGen";
import labels from "@/mixins/labels";
import api from "@/mixins/api";

export default {
  name: "home",
  mixins: [labels, api],
  components: {
    SeedCard
  },
  data() {
    return {
      items: null,
      itemsNotLoaded: [],
      instance: {},
      offsetTop: 0,
      gen_image: {},
      dialog: false,
      filters: [],
      properties: [],
      valid: false,
      filterProperty: "",
      filterValue: "",
      filterOperator: "=",
      operators: ["=", "<", ">", "<=", ">="],
      savedSeeds: [],
      biomeProperties: [],
      prevFilter: null,
      sortOptions: [],
      sort: null,
      sortAscend: true
    };
  },

  watch: {
    sort() {
      this.applyFilters();
    },
    sortAscend() {
      if (this.sort) {
        this.applyFilters();
      }
    }
  },
  async created() {
    window.addEventListener("scroll", this.handleScroll);

    await this.loadWasm();
    await this.prepSeeds();

    for (const k in this.propertyLabels) {
      this.properties.push({ value: k, text: this.propertyLabels[k] });
    }

    this.properties.push({ value: "all_groups", text: "All  biome groups" });

    for (const k in this.biomeGroupLabels) {
      this.properties.push({
        value: k + "_group",
        text: this.biomeGroupLabels[k] + " Group"
      });
    }
    for (const k in this.biomeLabels) {
      this.properties.push({ value: k, text: this.biomeLabels[k] });
      this.biomeProperties.push({ value: k, text: this.biomeLabels[k] });
    }

    this.sortOptions = this.properties.filter(
      x => x.value !== "all_groups" && x.value !== "spawn_biome"
    );
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    async prepSeeds() {
      this.itemsNotLoaded = await this.getAndFlatSeeds();
      this.items = [];
      this.loadSeeds(this.itemsNotLoaded);
    },
    async getAndFlatSeeds() {
      const seeds = await this.getVerifiedAllTmpSeeds();
      const flatSeeds = [];

      for (const seed of seeds) {
        const flatSeed = {};
        for (const prop in seed) {
          const value = seed[prop];

          if (typeof value === "object") {
            flatSeed[prop + "_group"] = value.total;
            for (const prop2 in value) {
              if (prop2 !== "total") {
                flatSeed[prop2] = value[prop2];
              }
            }
          } else {
            flatSeed[prop] = seed[prop];
          }
        }
        flatSeed.data = seed;
        flatSeeds.push(flatSeed);
      }

      return flatSeeds;
    },
    loadSeeds(allItems, count = 0) {
      if (
        (count < 20 || window.innerHeight === document.body.clientHeight) &&
        allItems.length
      ) {
        this.items.push(allItems.pop());
        window.requestAnimationFrame(() => this.loadSeeds(allItems, count + 1));
      }
    },
    async loadWasm() {
      this.gen_image = new ImgGen();
      await this.gen_image.init();
    },
    handleScroll(e) {
      if (
        window.innerHeight + window.scrollY >=
        document.body.offsetHeight - 500
      ) {
        this.loadSeeds(this.itemsNotLoaded);
      }
    },
    shuffle() {
      this.sort = null;
      const seeds = [...this.itemsNotLoaded, ...this.items];
      this.itemsNotLoaded = seeds
        .map(a => [Math.random(), a])
        .sort((a, b) => a[0] - b[0])
        .map(a => a[1]);
      this.items = [];
      this.loadSeeds(this.itemsNotLoaded);
    },
    openFilter() {
      this.filterOperator = "=";
      this.dialog = true;
    },
    editFilter(filter) {
      this.filterProperty = filter.property;
      this.filterOperator = filter.operator;
      this.filterValue = filter.value;
      this.dialog = true;
      this.prevFilter = filter;
    },
    cancelFilter() {
      this.dialog = false;
      this.$refs.form.reset();
    },
    applyFilter() {
      if (!this.$refs.form.validate()) {
        return;
      }

      let filter;
      if (this.prevFilter) {
        filter = this.prevFilter;
        this.prevFilter = null;
      } else {
        filter = {};
        this.filters.push(filter);
      }

      filter.propertyName = this.properties.find(
        p => p.value === this.filterProperty
      ).text;
      filter.property = this.filterProperty;
      filter.operator = this.filterOperator;
      filter.value = this.filterValue;

      this.dialog = false;
      this.$refs.form.reset();
      this.applyFilters();
    },
    clearFilter(filter) {
      const index = this.filters.indexOf(filter);
      if (index > -1) {
        this.filters.splice(index, 1);
      }
      this.applyFilters();
    },
    async applyFilters() {
      let seeds = await this.getAndFlatSeeds();

      for (const filter of this.filters) {
        if (filter.property === "all_groups") {
          seeds = seeds.filter(s => {
            for (const k in s.data) {
              if (typeof s.data[k] === "object" && k !== "mushroom") {
                const percentage = s.data[k].total;
                if (filter.operator == "=" && percentage != filter.value) {
                  return false;
                } else if (
                  filter.operator == "<" &&
                  percentage >= filter.value
                ) {
                  return false;
                } else if (
                  filter.operator == ">" &&
                  percentage <= filter.value
                ) {
                  return false;
                } else if (
                  filter.operator == "<=" &&
                  percentage > filter.value
                ) {
                  return false;
                } else if (
                  filter.operator == ">=" &&
                  percentage < filter.value
                ) {
                  return false;
                }
              }
            }
            return true;
          });
        } else if (filter.property === "spawn_biome") {
          // if (filter.operator === "incl") {
          seeds = seeds.filter(s => s.spawn_biome === filter.value);
          // } else {
          //   seeds = seeds.filter(s => s.spawn_biome === filter.value);
          // }
        } else {
          if (filter.operator == "=") {
            seeds = seeds.filter(s => s[filter.property] == filter.value);
          } else if (filter.operator == "<") {
            seeds = seeds.filter(s => s[filter.property] < filter.value);
          } else if (filter.operator == ">") {
            seeds = seeds.filter(s => s[filter.property] > filter.value);
          } else if (filter.operator == "<=") {
            seeds = seeds.filter(s => s[filter.property] <= filter.value);
          } else if (filter.operator == ">=") {
            seeds = seeds.filter(s => s[filter.property] >= filter.value);
          }
        }
      }

      this.itemsNotLoaded = seeds;
      this.applySort();
      this.items = [];
      this.loadSeeds(this.itemsNotLoaded);
    },
    async changeSort() {
      await this.applyFilters();
      this.applySort();
    },
    applySort() {
      if (this.sort) {
        this.itemsNotLoaded = this.itemsNotLoaded.sort((a, b) => {
          return this.sortAscend
            ? b[this.sort] - a[this.sort]
            : a[this.sort] - b[this.sort];
        });
      }
    }
  }
};
</script>
