<template>
  <v-container>
    <v-layout text-center wrap class="ma-7">
      <v-flex mb-4>
        <h2 class="display-1 font-weight-bold mb-3">Advanced View</h2>
      </v-flex>

      <v-flex mb-5 xs12>
        <v-data-table
          :headers="headers"
          :items="seeds"
          :items-per-page="10"
          item-key="seed"
          multi-sort
        >
          <template v-slot:item="{ item, headers }">
            <tr style="cursor:pointer" @click="open(item)">
              <td
                v-for="header of headers"
                v-bind:key="header.value"
              >{{ typeof item[header.value] === "object" ? item[header.value].total : item[header.value] }}</td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" width="80%" max-width="750">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>Seed Details</v-card-title>

        <SeedDetails :seedData="seedData" :gen_image="gen_image"></SeedDetails>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text :to="'/seed/' + seedData.seed">Open page</v-btn>
          <v-btn color="primary" text @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import SeedDetails from "@/components/SeedDetails.vue";
import labels from "@/mixins/labels";
import api from "@/mixins/api";
import ImgGen from "@/ImgGen";

export default {
  components: { SeedDetails },
  mixins: [labels, api],
  data() {
    return {
      headers: [
        {
          text: "Seed",
          align: "start",
          sortable: true,
          value: "seed"
        },
        // { text: "GINI (%)", value: "gini" },
        // { text: "OverOne (%)", value: "over_one" },
        // { text: "OverTwo (%)", value: "over_two" },
        // { text: "OverThree (%)", value: "over_three" },
        { text: "Badlands (%)", value: "badlands" },
        { text: "Badlands plateau (%)", value: "badlands_plateau" },
        { text: "Bamboo jungle (%)", value: "bamboo_jungle" },
        { text: "Bamboo jungle hills (%)", value: "bamboo_jungle_hills" },
        // { text: "Basalt deltas (%)", value: "basalt_deltas" },
        { text: "Beach (%)", value: "beach" },
        { text: "Birch forest (%)", value: "birch_forest" },
        { text: "Birch forest hills (%)", value: "birch_forest_hills" },
        { text: "Cold ocean (%)", value: "cold_ocean" },
        // { text: "Crimson forest (%)", value: "crimson_forest" },
        { text: "Dark forest (%)", value: "dark_forest" },
        { text: "Dark forest hills (%)", value: "dark_forest_hills" },
        { text: "Deep cold ocean (%)", value: "deep_cold_ocean" },
        { text: "Deep frozen ocean (%)", value: "deep_frozen_ocean" },
        { text: "Deep lukewarm ocean (%)", value: "deep_lukewarm_ocean" },
        { text: "Deep ocean (%)", value: "deep_ocean" },
        { text: "Deep warm ocean (%)", value: "deep_warm_ocean" },
        { text: "Desert (%)", value: "desert" },
        { text: "Desert hills (%)", value: "desert_hills" },
        { text: "Desert lakes (%)", value: "desert_lakes" },
        // { text: "End barrens (%)", value: "end_barrens" },
        // { text: "End highlands (%)", value: "end_highlands" },
        // { text: "End midlands (%)", value: "end_midlands" },
        { text: "Eroded badlands (%)", value: "eroded_badlands" },
        { text: "Flower forest (%)", value: "flower_forest" },
        { text: "Forest (%)", value: "forest" },
        { text: "Frozen ocean (%)", value: "frozen_ocean" },
        { text: "Frozen river (%)", value: "frozen_river" },
        { text: "Giant spruce taiga (%)", value: "giant_spruce_taiga" },
        {
          text: "Giant spruce taiga hills (%)",
          value: "giant_spruce_taiga_hills"
        },
        { text: "Giant tree taiga (%)", value: "giant_tree_taiga" },
        { text: "Giant tree taiga hills (%)", value: "giant_tree_taiga_hills" },
        { text: "Gravelly mountains (%)", value: "gravelly_mountains" },
        { text: "Ice spikes (%)", value: "ice_spikes" },
        { text: "Jungle (%)", value: "jungle" },
        { text: "Jungle edge (%)", value: "jungle_edge" },
        { text: "Jungle hills (%)", value: "jungle_hills" },
        { text: "Lukewarm ocean (%)", value: "lukewarm_ocean" },
        {
          text: "Modified badlands plateau (%)",
          value: "modified_badlands_plateau"
        },
        {
          text: "Modified gravelly mountains (%)",
          value: "modified_gravelly_mountains"
        },
        { text: "Modified jungle (%)", value: "modified_jungle" },
        { text: "Modified jungle edge (%)", value: "modified_jungle_edge" },
        {
          text: "Modified wooded badlands plateau (%)",
          value: "modified_wooded_badlands_plateau"
        },
        { text: "Mountain edge (%)", value: "mountain_edge" },
        { text: "Mountains (%)", value: "mountains" },
        { text: "Mushroom fields (%)", value: "mushroom_fields" },
        { text: "Mushroom field shore (%)", value: "mushroom_field_shore" },
        // { text: "Nether wastes (%)", value: "nether_wastes" },
        { text: "Ocean (%)", value: "ocean" },
        { text: "Plains (%)", value: "plains" },
        { text: "River (%)", value: "river" },
        { text: "Savanna (%)", value: "savanna" },
        { text: "Savanna plateau (%)", value: "savanna_plateau" },
        { text: "Shattered savanna (%)", value: "shattered_savanna" },
        {
          text: "Shattered savanna plateau (%)",
          value: "shattered_savanna_plateau"
        },
        // { text: "Small end islands (%)", value: "small_end_islands" },
        { text: "Snowy beach (%)", value: "snowy_beach" },
        { text: "Snowy mountains (%)", value: "snowy_mountains" },
        { text: "Snowy taiga (%)", value: "snowy_taiga" },
        { text: "Snowy taiga hills (%)", value: "snowy_taiga_hills" },
        { text: "Snowy taiga mountains (%)", value: "snowy_taiga_mountains" },
        { text: "Snowy tundra (%)", value: "snowy_tundra" },
        // { text: "Soul sand valley (%)", value: "soul_sand_valley" },
        { text: "Stone shore (%)", value: "stone_shore" },
        { text: "Sunflower plains (%)", value: "sunflower_plains" },
        { text: "Swamp (%)", value: "swamp" },
        { text: "Swamp hills (%)", value: "swamp_hills" },
        { text: "Taiga (%)", value: "taiga" },
        { text: "Taiga hills (%)", value: "taiga_hills" },
        { text: "Taiga mountains (%)", value: "taiga_mountains" },
        { text: "Tall birch forest (%)", value: "tall_birch_forest" },
        { text: "Tall birch hills (%)", value: "tall_birch_hills" },
        // { text: "The end (%)", value: "the_end" },
        // { text: "The void (%)", value: "the_void" },
        { text: "Warm ocean (%)", value: "warm_ocean" },
        // { text: "Warped forest (%)", value: "warped_forest" },
        {
          text: "Wooded badlands plateau (%)",
          value: "wooded_badlands_plateau"
        },
        { text: "Wooded hills (%)", value: "wooded_hills" },
        { text: "Wooded mountains (%)", value: "wooded_mountains" }
      ],
      seeds: [],
      dialog: false,
      seedData: {},
      gen_image: null
    };
  },
  async created() {
    this.getValid();
    await this.loadWasm();
  },
  methods: {
    async getValid() {
      const seeds = await this.getVerifiedAllTmpSeeds();

      for (const seed of seeds) {
        const flatSeed = {};
        for (const prop in seed) {
          const value = seed[prop];

          if (typeof value === "object") {
            for (const prop2 in value) {
              if (prop2 !== "total") {
                flatSeed[prop2] = value[prop2];
              }
            }
          } else {
            flatSeed[prop] = seed[prop];
          }
        }
        flatSeed.data = seed;
        this.seeds.push(flatSeed);
      }
    },
    async loadWasm() {
      this.gen_image = new ImgGen();
      await this.gen_image.init();
    },
    open(clicked) {
      this.seedData = clicked.data;
      this.dialog = true;
    }
  }
};
</script>
