<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to This seed rocks.
        </h1>
        <h2 class="display-1 font-weight-bold mb-3">
          Download the tool you need.
        </h2>
        <v-layout flex-row justify-center>
          <v-flex xs6 md3>
            <v-btn x-large color="secondary" href="http://88.198.5.25:8080/job/Sevadus-Seed-Generator/lastSuccessfulBuild/artifact/Gods_seedfinder.exe">
              Windows
            </v-btn>
          </v-flex>
          <v-flex xs6 md3>
            <v-btn x-large color="secondary" href="http://88.198.5.25:8080/job/Sevadus-Seed-Generator-Linux/lastSuccessfulBuild/artifact/god">
              Linux / OSx
            </v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
};
</script>
