<template>
  <v-card v-on:click="dialog = true">
    <div class="d-flex flex-column flex-md-row">
      <img style="width: 250px; border-radius: 4px 0 0 4px;" :src="imgSrc" />

      <div style="width: 250px">
        <v-card-title>{{ seedData.seed }}</v-card-title>

        <v-card-text>
          <div class="d-flex mt-md-2">
            <div>Spawn Biome:&nbsp;&nbsp;</div>
            <b>{{ biomes[seedData.spawn_biome] }}</b>
          </div>
          <div class="d-flex mt-2 mt-md-4">
            <div>Closest Village:&nbsp;&nbsp;</div>
            <b>{{ seedData.village_distance }}</b>
          </div>
          <div class="d-flex mt-2 mt-md-4">
            <div># Witch Huts:&nbsp;&nbsp;</div>
            <b>{{ seedData.huts }}</b>
          </div>
          <div class="d-flex mt-2 mt-md-4">
            <div># Monuments:&nbsp;&nbsp;</div>
            <b>{{ seedData.monuments }}</b>
          </div>
        </v-card-text>
      </div>
    </div>

    <v-dialog v-model="dialog" width="80%" max-width="750">
      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>Seed Details</v-card-title>

        <SeedDetails :seedData="seedData" :gen_image="gen_image"></SeedDetails>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text :to="'/seed/' + seedData.seed">Open page</v-btn>
          <v-btn color="primary" text @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import SeedDetails from "@/components/SeedDetails.vue";

export default {
  components: { SeedDetails },
  props: ["seedData", "gen_image"],
  data() {
    return {
      imgSrc: "",
      dialog: false,
      biomes: {
        badlands: "Badlands",
        badlands_plateau: "Badlands plateau",
        bamboo_jungle: "Bamboo jungle",
        bamboo_jungle_hills: "Bamboo jungle hills",
        // basalt_deltas: "Basalt deltas",
        beach: "Beach",
        birch_forest: "Birch forest",
        birch_forest_hills: "Birch forest hills",
        cold_ocean: "Cold ocean",
        // crimson_forest: "Crimson forest",
        dark_forest: "Dark forest",
        dark_forest_hills: "Dark forest hills",
        deep_cold_ocean: "Deep cold ocean",
        deep_frozen_ocean: "Deep frozen ocean",
        deep_lukewarm_ocean: "Deep lukewarm ocean",
        deep_ocean: "Deep ocean",
        deep_warm_ocean: "Deep warm ocean",
        desert: "Desert",
        desert_hills: "Desert hills",
        desert_lakes: "Desert lakes",
        // end_barrens: "End barrens",
        // end_highlands: "End highlands",
        // end_midlands: "End midlands",
        eroded_badlands: "Eroded badlands",
        flower_forest: "Flower forest",
        forest: "Forest",
        frozen_ocean: "Frozen ocean",
        frozen_river: "Frozen river",
        giant_spruce_taiga: "Giant spruce taiga",
        giant_spruce_taiga_hills: "Giant spruce taiga hills",
        giant_tree_taiga: "Giant tree taiga",
        giant_tree_taiga_hills: "Giant tree taiga hills",
        gravelly_mountains: "Gravelly mountains",
        ice_spikes: "Ice spikes",
        jungle: "Jungle",
        jungle_edge: "Jungle edge",
        jungle_hills: "Jungle hills",
        lukewarm_ocean: "Lukewarm ocean",
        modified_badlands_plateau: "Modified badlands plateau",
        modified_gravelly_mountains: "Modified gravelly mountains",
        modified_jungle: "Modified jungle",
        modified_jungle_edge: "Modified jungle edge",
        modified_wooded_badlands_plateau: "Modified wooded badlands plateau",
        mountain_edge: "Mountain edge",
        mountains: "Mountains",
        mushroom_fields: "Mushroom fields",
        mushroom_field_shore: "Mushroom field shore",
        // nether_wastes: "Nether wastes",
        ocean: "Ocean",
        plains: "Plains",
        river: "River",
        savanna: "Savanna",
        savanna_plateau: "Savanna plateau",
        shattered_savanna: "Shattered savanna",
        shattered_savanna_plateau: "Shattered savanna plateau",
        // small_end_islands: "Small end islands",
        snowy_beach: "Snowy beach",
        snowy_mountains: "Snowy mountains",
        snowy_taiga: "Snowy taiga",
        snowy_taiga_hills: "Snowy taiga hills",
        snowy_taiga_mountains: "Snowy taiga mountains",
        snowy_tundra: "Snowy tundra",
        // soul_sand_valley: "Soul sand valley",
        stone_shore: "Stone shore",
        sunflower_plains: "Sunflower plains",
        swamp: "Swamp",
        swamp_hills: "Swamp hills",
        taiga: "Taiga",
        taiga_hills: "Taiga hills",
        taiga_mountains: "Taiga mountains",
        tall_birch_forest: "Tall birch forest",
        tall_birch_hills: "Tall birch hills",
        // the_end: "The end",
        // the_void: "The void",
        warm_ocean: "Warm ocean",
        // warped_forest: "Warped forest",
        wooded_badlands_plateau: "Wooded badlands plateau",
        wooded_hills: "Wooded hills",
        wooded_mountains: "Wooded mountains"
      }
    };
  },
  async created() {
    this.genImage(this.seedData.seed);
  },
  methods: {
    genImage(inputString) {
      this.gen_image.gen(inputString);
      this.imgSrc = this.gen_image.canvas.toDataURL();
    }
  }
};
</script>
