<template>
  <v-container class="py-5 px-9">
    <v-row>
      <h1>{{ seedData.seed }}</h1>

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn icon style="margin: 6px 0 6px 6px" v-on="on" @click="copySeedToClipboard">
            <v-icon>mdi-content-copy</v-icon>
          </v-btn>
        </template>
        <span>Copy Seed</span>
      </v-tooltip>

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn icon style="margin: 6px 0 6px 6px" v-on="on" @click="copyUrlToClipboard">
            <v-icon>mdi-link-variant</v-icon>
          </v-btn>
        </template>
        <span>Copy URL</span>
      </v-tooltip>

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-show="$route.name !== 'seed'"
            style="margin: 6px 6px 6px auto;"
            v-on="on"
            :to="'/seed/' + seedData.seed"
            target="_blank"
          >
            <v-icon>mdi-open-in-new</v-icon>
          </v-btn>
        </template>
        <span>Open in new tab</span>
      </v-tooltip>
    </v-row>

    <div style="margin-bottom: 10px">
      <v-row>
        <v-divider></v-divider>
      </v-row>
    </div>

    <div class="d-flex justify-space-around">
      <img :src="imgSrc" style="width:100%; max-width:512px" />
    </div>

    <template v-if="!hideInfo">
      <div style="margin-top: 35px">
        <v-row>
          <h2>Info</h2>
        </v-row>
      </div>

      <div style="margin-bottom: 10px">
        <v-row>
          <v-divider></v-divider>
        </v-row>
      </div>

      <div class="d-flex flex-column flex-sm-row">
        <div class="flex-sm-grow-1">
          <div class="d-flex my-3">
            <div style="width: 120px">Spawn Biome:</div>
            <div class="font-weight-bold">{{ biomeLabels[seedData.spawn_biome] }}</div>
          </div>
          <div class="d-flex my-3">
            <div style="width: 120px">Closest Village:</div>
            <div class="font-weight-bold">{{ seedData.village_distance }}</div>
          </div>
        </div>

        <div class="flex-sm-grow-1">
          <div class="d-flex my-3">
            <div style="width: 120px"># Witch Huts:</div>
            <div class="font-weight-bold">{{ seedData.huts }}</div>
          </div>
          <div class="d-flex my-3">
            <div style="width: 120px"># Monuments:</div>
            <div class="text--primary font-weight-bold">{{ seedData.monuments }}</div>
          </div>
        </div>
      </div>

      <div style="margin-top: 35px">
        <v-row>
          <h2>Biomes</h2>
        </v-row>
      </div>

      <div style="margin-bottom: 10px">
        <v-row>
          <v-divider></v-divider>
        </v-row>
      </div>

      <div class="d-flex justify-end">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          style="rigth: 0; max-width: 50%"
        ></v-text-field>
      </div>

      <v-data-table
        :headers="headers"
        :items="items"
        item-key="prop"
        group-by="parent"
        :items-per-page="300"
        :hide-default-footer="true"
        :search="search"
      >
        <template v-slot:group.header="{ group, headers, toggle, isOpen }">
          <td v-if="!group" :colspan="headers.length" style="height: 0"></td>
          <template v-else>
            <td style="cursor: pointer" @click="toggle" :ref="group" :data-open="isOpen">
              <v-icon v-if="isOpen">mdi-chevron-up</v-icon>
              <v-icon v-else>mdi-chevron-down</v-icon>
              {{ groups[group].name }}
            </td>
            <td style="cursor: pointer" @click="toggle">{{ groups[group].value }}</td>
          </template>
        </template>
      </v-data-table>
    </template>

    <v-snackbar v-model="snackbar" top right :timeout="1500" color="green darken-2">
      {{ snackbarMessage }}
      <!--<v-btn color="pink" text @click="snackbar = false">Close</v-btn>-->
    </v-snackbar>
  </v-container>
</template>

<script>
import labels from "@/mixins/labels";

export default {
  mixins: [labels],
  props: ["seedData", "gen_image", "hideInfo"],
  data() {
    return {
      items: [],
      groups: {},
      search: "",
      imgSrc: "",
      snackbar: false,
      snackbarMessage: "",
      headers: [
        {
          text: "Name",
          sortable: true,
          value: "name"
        },
        { text: "Area (%)", value: "value" }
      ]
    };
  },
  watch: {
    seedData: {
      handler(seedData) {
        for (const key in this.seedData) {
          const value = this.seedData[key];

          if (typeof value !== "object") {
            const name = this.biomeLabels[key];
            if (!name) {
              continue;
            }
            this.items.push({
              key,
              name,
              value: (Math.round(value * 100) / 100).toFixed(2)
            });
            continue;
          }

          const name = this.biomeGroupLabels[key];
          if (!name) {
            continue;
          }
          this.groups[key] = {
            name,
            value: (Math.round(value.total * 100) / 100).toFixed(2)
          };

          for (const key2 in value) {
            const name2 = this.biomeLabels[key2];
            if (!name2) {
              continue;
            }

            this.items.push({
              parent: key,
              key: key + key2,
              name: name2,
              value: (Math.round(value[key2] * 100) / 100).toFixed(2)
            });
          }
        }

        this.$nextTick(() => {
          this.toggleAll();
        });
      },
      immediate: true
    }
  },
  async created() {
    this.genImage(this.seedData.seed);
  },
  methods: {
    genImage(inputString) {
      this.gen_image.gen(inputString);
      this.imgSrc = this.gen_image.canvas.toDataURL();
    },
    toggleAll() {
      Object.keys(this.$refs).forEach(k => {
        this.$refs[k].click();
      });
    },
    copySeedToClipboard() {
      navigator.clipboard.writeText(this.seedData.seed).then(() => {
        this.showSnackbar("Copied Seed to Clipboard");
      });
    },
    copyUrlToClipboard() {
      navigator.clipboard
        .writeText(window.location.host + "/seed/" + this.seedData.seed)
        .then(() => {
          this.showSnackbar("Copied URL to Clipboard");
        });
    },
    showSnackbar(message) {
      this.snackbarMessage = message;
      this.snackbar = true;
    }
  }
};
</script>
