<template>
  <v-app>
    <v-app-bar
      app
      dark
      shrink-on-scroll
      prominent
      src="https://cdn.mos.cms.futurecdn.net/Lboe7h48Q2FRQmgaTpXvL9.jpg/"
      fade-img-on-scroll
      scroll-threshold="500"
    >
      <template v-slot:img="{ props }">
        <v-img v-bind="props" gradient="to top right, rgba(48,116,68,.6), rgba(0,0,48,.7)"></v-img>
      </template>

      <v-app-bar-nav-icon class="d-flex d-md-none" @click="drawer = true"></v-app-bar-nav-icon>

      <router-link to="/" tag="div" class="v-toolbar__title" style="cursor: pointer">Seed Hunt</router-link>
      <div class="v-toolbar__title" style="margin-left:30px;font-size:.5em;line-height:1.5em;">
        seeds scanned: {{ totalscanned.toLocaleString() }}
        <br />
        seeds per second: {{ sps.toLocaleString() }}
      </div>

      <v-spacer></v-spacer>

      <div class="d-none d-md-flex" style="align-self:flex-end; margin:7px">
        <v-btn v-for="item in navItems" :key="item.title" :to="item.linkTo" text>{{ item.title }}</v-btn>
      </div>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list dense nav>
        <v-list-item v-for="item in navItems" :key="item.title" link :to="item.linkTo">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <router-view />
    </v-content>

    <!-- canvas used to gen the map previews -->
    <canvas id="c" style="display: none" width="512" height="512"></canvas>
  </v-app>
</template>

<script>
import api from "@/mixins/api";
export default {
  name: "App",
  mixins: [api],
  data: () => ({
    drawer: false,
    navItems: [
      { title: "Home", linkTo: "/", icon: "mdi-view-dashboard" },
      { title: "Advanced", linkTo: "/advanced", icon: "mdi-image" },
      {
        title: "Help us find seeds",
        linkTo: "/download",
        icon: "mdi-download"
      },
      { title: "About", linkTo: "/about", icon: "mdi-help-box" }
    ],
    sps: 0,
    totalscanned: 0
  }),
  async created() {
    this.sps = await this.getSPS();
    this.totalscanned = await this.getTotalScanned();
  }
};
</script>

<style>
</style>
